#__next, .ant-layout {
    height: 100%;
}

.base-layout {
    .ant-layout-header {
        background-color: #fff;
    }
}

.base-layout__row {
    height: 100%;
}

.logo {
    width: 120px;
    height: 31px;
    float: left;
}

.answer-radio {
    .ant-radio {
        position: relative;
        top: -2px;
    }
}

